{
    "singleQuote": true,
    "jsxSingleQuote": true,
    "tabWidth": 4,
    "printWidth": 120,
    "trailingComma": "es5",
    "jsxBracketSameLine": false,
    "arrowParens": "always",
    "semi": true
}
